In [1]:
# Exercise 1
on_mars_right = False
print(on_mars_right)

False

In [2]:
# Exercise 2
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]
print(fruits)

['mango', 'banana', 'guava', 'kiwi', 'strawberry']

In [3]:
# Exercise 3
vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"] 
print(vegetables)

['eggplant', 'broccoli', 'carrot', 'cauliflower', 'zucchini']

In [4]:
# Exercise 4
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# Exercise 5
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]
fruits.append("tomato")
print(fruits)

['mango', 'banana', 'guava', 'kiwi', 'strawberry', 'tomato']

In [6]:
# Exercise 6
vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"]
vegetables.append("tomato")
print(vegetables)

['eggplant', 'broccoli', 'carrot', 'cauliflower', 'zucchini', 'tomato']

In [7]:
# Exercise 7
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.reverse()
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
# Exercise 8
vegetables.sort()
print(vegetables)

['broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']

In [9]:
# Exercise 9
fruits.sort(reverse=True)
print(fruits)

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']

In [10]:
# Exercise 10
fruits_and_veggies = fruits + vegetables
print(fruits_and_veggies)

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana', 'broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']

In [125]:
# Exercise 11
def add_one(n):
    return n + 1

print(add_one(2))

3

In [12]:
# Exercise 12
def is_positive(n):
    if n > 0:
        return True
    else:
        return False
print(is_positive(0))
print(is_positive(-1))
print(is_positive(1))

False
False
True

In [13]:
# Exercise 13
def is_negative(n):
    if n < 0:
        return True
    else:
        return False
print(is_negative(0))
print(is_negative(-1))
print(is_negative(1))

False
True
False

In [107]:
# Exercise 14
def is_odd(n):
    if n%2 != 0:
        return True
    else:
        return False

print(is_odd(3))
print(is_odd(-4))

True
False

In [122]:
# Exercise 15
def is_even(n):
    if n%2 == 0:
        return True
    else:
        return False

print(is_even(5))
print(is_even(-4))
print(is_even(9))

False
True
False

In [16]:
# Exercise 16
def identity(n):
    return n

print(identity("apple"))

apple

In [17]:
# Exercise 17
def is_positive_odd(n):
    if n > 0 and n%2 != 0:
        return True
    else:
        return False
    
print(is_positive_odd(-3))
print(is_positive_odd(3))
print(is_positive_odd(0))

False
True
False

In [18]:
# Exercise 18
def is_positive_even(n):
    if n > 0 and n%2 == 0:
        return True
    else:
        return False
    
print(is_positive_even(-2))
print(is_positive_even(2))
print(is_positive_even(0))

False
True
False

In [19]:
# Exercise 19
def is_negative_odd(n):
    if n < 0 and n%2 != 0:
        return True
    else:
        return False

print(is_negative_odd(-3))
print(is_negative_odd(3))
print(is_negative_odd(0))

True
False
False

In [20]:
# Exercise 20
def is_negative_even(n):
    if n < 0 and n%2 == 0:
        return True
    else:
        return False

print(is_negative_even(-2))
print(is_negative_even(2))
print(is_negative_even(0))

True
False
False

In [21]:
# Exercise 21
def half(n):
    return n / 2

print(half(3))
print(half(10))

1.5
5.0

In [22]:
# Exercise 22
def double(n):
    return 2 * n

print(double(4))

8

In [23]:
# Exercise 23
def triple(n):
    return 3 * n

print(triple(4))

12

In [24]:
# Exercise 24
def reverse_sign(n):
    return n * -1

print(reverse_sign(12))
print(reverse_sign(-12))

-12
12

In [114]:
# Exercise 25
def absolute_value(n):
    if n < 0:
        return n * -1 
    else:
        return n

print(absolute_value(-12))
print(absolute_value(12))

12
12

In [115]:
# Exercise 26
def is_multiple_of_three(n):
    if n % 3 == 0:
        return True
    else:
        return False
    
print(is_multiple_of_three(6))
print(is_multiple_of_three(5))

True
False

In [27]:
# Exercise 27
def is_multiple_of_five(n):
    if n % 5 == 0:
        return True
    else:
        return False
    
print(is_multiple_of_five(60))
print(is_multiple_of_three(2))

True
False

In [28]:
# Exercise 28
def is_multiple_of_both_three_and_five(n):
    if n % 3 == 0 and n % 5 == 0:
        return True
    else:
        return False
    
print(is_multiple_of_both_three_and_five(6))
print(is_multiple_of_both_three_and_five(15))
print(is_multiple_of_both_three_and_five(5))
print(is_multiple_of_both_three_and_five(4))

False
True
False
False

In [124]:
# Exercise 29
def square(n):
    return n * n

print(square(9))

81

In [30]:
# Exercise 30
def add(a, b):
    return a + b

print(add(3, -1))

2

In [31]:
# Exercise 31
def cube(n):
    return n ** 3

print(cube(3))

27

In [116]:
# Exercise 32
import math
def square_root(n):
    return math.sqrt(n)

print(square_root(16))

4.0

In [33]:
# Exercise 33
def subtract(a, b):
    return a - b

print(subtract(8, 3))

5

In [34]:
# Exercise 34
def multiply(a, b):
    return a * b

print(multiply(2, 3))

6

In [35]:
# Exercise 35
def divide(a, b):
    return a / b

print(divide(27, 9))
print(divide(5, 2))

3.0
2.5

In [36]:
# Exercise 36
def quotient(a, b):
    return a // b

print(quotient(27, 3))
print(quotient(10, 3))

9
3

In [37]:
# Exercise 37
def remainder(a, b):
    return a % b

print(remainder(3, 3))
print(remainder(5, 2))

0
1

In [38]:
# Exercise 38
def sum_of_squares(a, b):
    return a ** 2 + b ** 2

print(sum_of_squares(3, 2))

13

In [39]:
# Exercise 39
def times_two_plus_three(n):
    return n * 2 + 3

print(times_two_plus_three(2))

7

In [40]:
# Exercise 40
def area_of_rectangle(a, b):
    return a * b

print(area_of_rectangle(5, 2))

10

In [118]:
# Exercise 41
import math
def area_of_circle(n):
    return math.pi * (n ** 2)

print(area_of_circle(3))

28.274333882308138

In [42]:
# Exercise 42
import math
def circumference(n):
    return 2 * math.pi * n

print(circumference(3))

18.84955592153876

In [120]:
# Exercise 43
def is_vowel(s):
    vowels = ["a", "e", "i", "o", "u"]
    if s.lower() in vowels:
        return True
    else:
        return False

print(is_vowel("a"))
print(is_vowel("E"))
print(is_vowel("A"))
print(is_vowel("B"))
print(is_vowel("c"))
print(is_vowel("Banana"))

True
True
True
False
False
False

In [44]:
# Exercise 44
def has_vowels(s):
    vowels = ["a", "e", "i", "o", "u"]
    for letter in s.lower():
        if letter in vowels:
            return True
    return False

print(has_vowels("banana"))
print(has_vowels("wyrd"))

True
False

In [45]:
# Exercise 45
def count_vowels(s):
    vowels = ["a", "e", "i", "o", "u"]
    count = 0
    for letter in s.lower():
        if letter in vowels:
            count += 1
    return count

print(count_vowels("banana"))
print(count_vowels("wyrd"))

3
0

In [46]:
# Exercise 46
def remove_vowels(s):
    res = ""
    vowels = ["a", "e", "i", "o", "u"]
    for letter in s.lower():
        if letter not in vowels:
            res += letter
    return res

print(remove_vowels("banana"))
print(remove_vowels("ubuntu"))
print(remove_vowels("wyrd"))

bnn
bnt
wyrd

In [47]:
# Exercise 47
def starts_with_vowel(s):
    vowels = ["a", "e", "i", "o", "u"]
    if s[0].lower() in vowels:
        return True
    else:
        return False
    
print(starts_with_vowel("ubuntu"))
print(starts_with_vowel("banana"))

True
False

In [48]:
# Exercise 48
def ends_with_vowel(s):
    vowels = ["a", "e", "i", "o", "u"]
    if s[-1].lower() in vowels:
        return True
    else:
        return False
    
print(ends_with_vowel("ubuntu"))
print(ends_with_vowel("spinach"))

True
False

In [49]:
# Exercise 49
def starts_and_ends_with_vowel(s):
    vowels = ["a", "e", "i", "o", "u"]
    if s[0] in vowels and s[-1] in vowels:
        return True
    else:
        return False
    
print(starts_and_ends_with_vowel("ubuntu"))
print(starts_and_ends_with_vowel("banana"))

True
False

In [50]:
# Exercise 50
def first(s):
    return s[0]

print(first("abc"))
print(first([0, 1, 2]))
print(first(["python", "is", "awesome"]))

a
0
python

In [51]:
# Exercise 51
def second(s):
    return s[1]

print(second("abc"))
print(second([0, 1, 2]))
print(second(["python", "is", "awesome"]))

b
1
is

In [52]:
# Exercise 52
def third(s):
    return s[2]

print(third("abc"))
print(third([0, 1, 2]))
print(third(["python", "is", "awesome"]))

c
2
awesome

In [53]:
# Exercise 53
def forth(s):
    return s[3]

print(forth("abcd"))
print(forth([0, 1, 2, 3]))
print(forth(["python", "is", "awesome", "right?"]))

d
3
right?

In [54]:
# Exercise 55
def last(s):
    return s[-1]

print(last("abcd"))
print(last([0, 1, 2, 3]))
print(last(["python", "is", "awesome", "right?"]))

d
3
right?

In [55]:
# Exercise 55
def second_to_last(s):
    return s[-2]

print(second_to_last("abcd"))
print(second_to_last([0, 1, 2, 3]))
print(second_to_last(["python", "is", "awesome", "right?"]))

c
2
awesome

In [56]:
# Exercise 56
def third_to_last(s):
    return s[-3]

print(third_to_last("abcd"))
print(third_to_last([0, 1, 2, 3]))
print(third_to_last(["python", "is", "awesome", "right?"]))

b
1
is

In [57]:
# Exercise 57
def first_and_second(s):
    return [s[0], s[1]]

print(first_and_second("abcd"))
print(first_and_second([0, 1, 2, 3]))
print(first_and_second(["python", "is", "awesome", "right?"]))

['a', 'b']
[0, 1]
['python', 'is']

In [58]:
# Exercise 58
def first_and_last(s):
    return [s[0], s[-1]]

print(first_and_last("abcd"))
print(first_and_last([0, 1, 2, 3]))
print(first_and_last(["python", "is", "awesome", "right?"]))

['a', 'd']
[0, 3]
['python', 'right?']

In [59]:
# Exercise 59
def first_to_last(s):
    return s[1:] + [s[0]]

print(first_to_last([1, 2, 3, 4]))
print(first_to_last(["python", "is", "awesome"]))

[2, 3, 4, 1]
['is', 'awesome', 'python']

In [60]:
# Exercise 60
def sum_all(values):
    res = 0
    for i in values:
        res += i
    return res

print(sum_all([1, 2, 3, 4]))

10

In [61]:
# Exercise 61
def mean(values):
    res = 0
    for i in values:
        res += i
    return res / len(values)

print(mean([1, 2, 3, 4]))

2.5

In [62]:
# Exercise 62
def median(values):
    if len(values) % 2 == 0:
        return (values[len(values) // 2] + values[(len(values) // 2) - 1]) / 2
    else:
        return values[len(values) // 2]

print(median([1, 2, 5, 6]))
print(median([1, 5, 6]))

3.5
5

In [63]:
# Exercise 63
def mode(values):
    return max(set(values), key=values.count)
    
print(mode([1, 2, 2, 3, 4]))

2

In [64]:
# Exercise 64
def product_of_all(values):
    res = 1
    for i in values:
        res *= i
    return res

print(product_of_all([1, 2, 3]))

6

In [65]:
# Exercise 65
def get_highest_number(values):
    return max(values)

print(get_highest_number([1, 2, 3]))
print(get_highest_number([-1, -2, -3]))

3
-1

In [66]:
# Exercise 66
def get_smallest_number(values):
    return min(values)

print(get_smallest_number([1, 2, 3]))
print(get_smallest_number([-1, -2, -3]))

1
-3

In [67]:
# Exercise 67
def only_odd_numbers(values):
    res = []
    for i in values:
        if i%2 != 0:
            res.append(i)
    return res

print(only_odd_numbers([1, 2, 3]))

[1, 3]

In [68]:
# Exercise 68
def only_even_numbers(values):
    res = []
    for i in values:
        if i%2 == 0:
            res.append(i)
    return res

print(only_even_numbers([1, 2, 3]))

[2]

In [69]:
# Exercise 69
def only_positive_numbers(values):
    res = []
    for i in values:
        if i > 0:
            res.append(i)
    return res

print(only_positive_numbers([-4, -3, 1, 2, 0]))

[1, 2]

In [70]:
# Exercise 70
def only_negative_numbers(values):
    res = []
    for i in values:
        if i < 0:
            res.append(i)
    return res

print(only_negative_numbers([-4, -3, 1, 2, 0]))

[-4, -3]

In [71]:
# Exercise 71
def has_evens(values):
    for i in values:
        if i % 2 == 0:
            return True
    return False

print(has_evens([0, 1, 2]))
print(has_evens([1, 3]))

True
False

In [72]:
# Exercise 72
def count_evens(values):
    count = 0
    for i in values:
        if i % 2 == 0:
            count += 1
    return count

print(count_evens([0, 1, 2]))
print(count_evens([1, 3]))

2
0

In [73]:
# Exercise 73
def has_odds(values):
    for i in values:
        if i % 2 != 0:
            return True
    return False

print(has_odds([0, 2]))
print(has_odds([1, 3]))

False
True

In [74]:
# Exercise 74
def count_odds(values):
    count = 0
    for i in values:
        if i % 2 != 0:
            count += 1
    return count

print(count_odds([0, 2]))
print(count_odds([1, 3]))

0
2

In [75]:
# Exercise 75
def count_negatives(values):
    count = 0
    for i in values:
        if i < 0:
            count += 1
    return count

print(count_negatives([1, -2, -3]))
print(count_negatives([0, 1, 2]))

2
0

In [76]:
# Exercise 76
def count_positives(values):
    count = 0
    for i in values:
        if i > 0:
            count += 1
    return count

print(count_positives([-1, -2, -3]))
print(count_positives([0, 1, 2]))

0
2

In [77]:
# Exercise 77
def only_positive_evens(values):
    res = []
    for i in values:
        if i > 0 and i % 2 == 0:
            res.append(i)
    return res

print(only_positive_evens([1, -2, -3]))
print(only_positive_evens([3, 3, 4, 6]))

[]
[4, 6]

In [78]:
# Exercise 78
def only_positive_odds(values):
    res = []
    for i in values:
        if i > 0 and i % 2 != 0:
            res.append(i)
    return res

print(only_positive_odds([1, -2, -3]))
print(only_positive_odds([3, 3, 4, 7]))

[1]
[3, 3, 7]

In [79]:
# Exercise 79
def only_negative_evens(values):
    res = []
    for i in values:
        if i < 0 and i % 2 == 0:
            res.append(i)
    return res

print(only_negative_evens([1, -2, -3]))
print(only_negative_evens([3, 3, 4, 6]))

[-2]
[]

In [80]:
# Exercise 80
def only_negative_odds(values):
    res = []
    for i in values:
        if i < 0 and i % 2 != 0:
            res.append(i)
    return res

print(only_negative_odds([1, -2, -3]))
print(only_negative_odds([3, 3, 4, 6]))

[-3]
[]

In [81]:
# Exercise 81
def shortest_string(values):
    values.sort(key=len)
    return values[0]

print(shortest_string(["mango", "kiwi", "strawberry"]))

kiwi

In [82]:
# Exercise 82
def longest_string(values):
    values.sort(key=len, reverse=True)
    return values[0]

print(longest_string(["mango", "kiwi", "strawberry"]))

strawberry

In [83]:
# Exercise 83
def get_unique_values(values):
    return set(values)

print(get_unique_values(["ant", "ant", "mosquito", "ladybug"]))

{'ant', 'ladybug', 'mosquito'}

In [84]:
# Exercise 84
def get_unique_values_from_two_lists(lst1, lst2):
    return set(lst1 + lst2)

print(get_unique_values_from_two_lists([5, 1, 2, 3], [3, 4, 5, 5]))

{1, 2, 3, 4, 5}

In [85]:
# Exercise 85
def get_values_in_common(lst1, lst2):
    return set(lst1).intersection(set(lst2))

print(get_values_in_common([5, 1, 2, 3], [3, 4, 5, 5]))

{3, 5}

In [86]:
# Exercise 86
def get_values_not_in_common(lst1, lst2):
    return set(lst1) ^ set(lst2)

print(get_values_not_in_common([5, 1, 2, 3], [3, 4, 5, 5]))

{1, 2, 4}

In [87]:
tukey_paper = {
    "title": "The Future of Data Analysis",
    "author": "John W. Tukey",
    "link": "https://projecteuclid.org/euclid.aoms/1177704711",
    "year_published": 1962
}

thomas_paper = {
    "title": "A mathematical model of glutathione metabolism",
    "author": "Rachel Thomas",
    "link": "https://www.ncbi.nlm.nih.gov/pubmed/18442411",
    "year_published": 2008
}

In [88]:
# Exercise 87
def get_paper_title(d):
    return d["title"]

print(get_paper_title(tukey_paper))
print(get_paper_title(thomas_paper))

The Future of Data Analysis
A mathematical model of glutathione metabolism

In [89]:
# Exercise 88
def get_year_published(d):
    return d["year_published"]

print(get_year_published(tukey_paper))
print(get_year_published(thomas_paper))

1962
2008

In [90]:
book = {
    "title": "Genetic Algorithms and Machine Learning for Programmers",
    "price": 36.99,
    "author": "Frances Buontempo"
}

In [91]:
# Exercise 89
def get_price(d):
    return d["price"]

print(get_price(book))

36.99

In [92]:
# Exercise 90
def get_author_book(d):
    return d["author"]

print(get_author_book(book))

Frances Buontempo

In [93]:
books = [
    {
        "title": "Genetic Algorithms and Machine Learning for Programmers",
        "price": 36.99,
        "author": "Frances Buontempo"
    },
    {
        "title": "The Visual Display of Quantitative Information",
        "price": 38.00,
        "author": "Edward Tufte"
    },
    {
        "title": "Practical Object-Oriented Design",
        "author": "Sandi Metz",
        "price": 30.47
    },
    {
        "title": "Weapons of Math Destruction",
        "author": "Cathy O'Neil",
        "price": 17.44
    }
]

In [94]:
# Exercise 91
def get_number_of_books(b):
    return len(b)

print(get_number_of_books(books))

4

In [95]:
# Exercise 92
def total_of_book_prices(b):
    res = 0
    for i in b:
        res += i["price"]
    return res

print(total_of_book_prices(books))

122.9

In [96]:
# Exercise 93
def get_average_book_price(b):
    res = 0
    for i in b:
        res += i["price"]
    return res / len(b)

print(get_average_book_price(books))

30.725

In [97]:
# Exercise 94
def highest_price_book(b):
    max_price = 0
    res = {}
    for i in b:
        if i["price"] > max_price:
            max_price = i["price"]
            res["title"] = i["title"]
            res["price"] = i["price"]
            res["author"] = i["author"]
    return res

print(highest_price_book(books))

{'title': 'The Visual Display of Quantitative Information', 'price': 38.0, 'author': 'Edward Tufte'}

In [98]:
# Exercise 95
def lowest_price_book(b):
    res = {}
    min_price = float("inf")
    for i in b:
        if i["price"] < min_price:
            min_pirce = i["price"]
            res["title"] = i["title"]
            res["price"] = i["price"]
            res["author"] = i["author"]
    return res

print(lowest_price_book(books))

{'title': 'Weapons of Math Destruction', 'price': 17.44, 'author': "Cathy O'Neil"}

In [99]:
shopping_cart = {
    "tax": .08,
    "items": [
        {
            "title": "orange juice",
            "price": 3.99,
            "quantity": 1
        },
        {
            "title": "rice",
            "price": 1.99,
            "quantity": 3
        },
        {
            "title": "beans",
            "price": 0.99,
            "quantity": 3
        },
        {
            "title": "chili sauce",
            "price": 2.99,
            "quantity": 1
        },
        {
            "title": "chocolate",
            "price": 0.75,
            "quantity": 9
        }
    ]
}

In [100]:
# Exercise 96
def get_tax_rate(c):
    return c["tax"]

print(get_tax_rate(shopping_cart))

0.08